body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-padrao);
}
/*************/
.homeContainerScreen{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 100px;
  
    overflow: hidden;
}
/* Input pesquisa  */
.userSearchForm{
    align-self: flex-start;
}
.userSearchInput{
    background-color: var(--cor-cinza-escuro);
    color: var(--cor-texto);
    font-family: var(--fonte-padrao);
    margin: 20px 0;
    padding: 12px 240px 12px 12px;
    border: 1px solid var(--cor-cinza-claro);
    border-radius: var(--borda-arredondada-padrao);
}
.userSearchInput::placeholder{
    color: var(--cor-cinza-claro);
    font-size: 14px;
    font-style: italic;
}
.userSearchSubmit{
    background-color: var(--cor-cinza-claro);
    padding: 12px;
    border: none;
    border-radius: var(--borda-arredondada-padrao);
    color: var(--cor-texto);
}
.loginButton{
    background-color: var(--cor-azul-claro);
    text-decoration: none;
    color: var(--cor-texto);
    padding: 12px;
    border-radius: var(--borda-arredondada-padrao);
}
.loginButton:hover{
    color: var(--cor-texto);
    text-decoration: none;
    background-color: #004b8d;
}
/* Card projeto  */
/* .projectsContainer{
    display: grid;
    grid-template-columns: repeat(3, 500px);
    flex-wrap: wrap;
    gap: 64px;
} */
.projectCard{
    width: 623px;
}
.ownerProfile{
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}
.projectImage{
    background-color: #282F39;
    width: 100%;
    height: 250px;
    object-fit: cover;
}