/* ================================================================================================== */
/*                                              Geral                                                 */
/* ================================================================================================== */

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    height: 10px; /* Altura da barra de rolagem */
}

/* Estilizando o trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background: #151C25; /* Cor de fundo do trilho */
    border-radius: 10px; /* Arredondamento das bordas do trilho */
}

/* Estilizando o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25); /* Cor do scroll */
    border-radius: 10px; /* Arredondamento das bordas do scroll */
}

/* Estilizando o polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); /* Cor do scroll quando o mouse está sobre ele */
}@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.text-area {
    width: 100% !important;
    min-height: 100px !important;
    resize: none !important;
}
/* ================================================================================================== */
/*                                        CADASTRAR NOVO PROJETO                                                */
/* ================================================================================================== */

#bodyCadastrarProjeto{
    background-color: #0D1117;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    padding: 20px;
}
.card-projeto{
    background-color: #151C25;
    display: flex;
    justify-content: center;
}

#imagemFotoCapa {
    width: 693px;
    height: 219px;
}

.btn-cadastrar {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 0 auto !important;
    color: #FFFFFF !important;
    width: 60% !important;
    height: 40px !important;
    background-color: #26A641 !important;
}

.rating {
    display: inline-block;
}

.star {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
    color: gray; /* Cor padrão das estrelas */
    transition: color 0.2s;
}

.star.hover {
    color: gold; /* Cor das estrelas ao passar o mouse */
}

.star.selected {
    color: gold; /* Cor das estrelas quando selecionadas */
}