/* ================================================================================================== */
/*                                              Geral                                                 */
/* ================================================================================================== */

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    height: 10px; /* Altura da barra de rolagem */
}

/* Estilizando o trilho da barra de rolagem */
::-webkit-scrollbar-track {
    background: #151C25; /* Cor de fundo do trilho */
    border-radius: 10px; /* Arredondamento das bordas do trilho */
}

/* Estilizando o polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.25); /* Cor do scroll */
    border-radius: 10px; /* Arredondamento das bordas do scroll */
}

/* Estilizando o polegar ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); /* Cor do scroll quando o mouse está sobre ele */
}@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

.text-area {
    width: 100% !important;
    min-height: 100px !important;
    resize: none !important;
}
/*
    Estilos dos cards de projeto, usado por userProfile e othersProfile

    */
.lista-cards-projeto{
    background-color: #0B0E13;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    padding: 20px;
}
.card-projeto{
    background-color: #151C25;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 210px;
    border: 1px solid #282F39;
    font-family: "ABeeZee", sans-serif;
    color: #fff;
    text-decoration: none !important;
    overflow: hidden;
}
.card-projeto:hover{
    cursor: pointer;
    animation-name: aumentar-e-diminuir;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}
@keyframes aumentar-e-diminuir{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.25);
    }
}