
/* ================================================================================================== */
/*                                           UserProfile                                              */
/* ================================================================================================== */

#userProfileSection{
    margin: 0 auto;
    height: 100%;
    width: calc(100vw - 200px);

}


.userProfileContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.userProfileInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.userProfileCapa{
    margin-top: 50px;
    width: calc(100vw - 200px);
    height: 225px;
    background-color: #151C25;
    border-radius: 20px;
}

.userProfilePerfil{
    margin-top: 16px;
    display: flex;
    align-items: start;
    flex-direction: row;
    height: 172px;
    width: 100%;
}
.userProfileFoto{
    background-color: #151C25;
    height: 172px;
    width: 172px;
    margin-right: 19px;
    border-radius: 50%;
}

.userProfileProjects{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.projectsSearch{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.projectList{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 16px;
    width: 100%;
    height: fit-content;
}

.projectItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    height: 272px;
    width: 395px;
    border-radius: 20px;
}

.projectFoto{
    height: 216px !important;
    width: 395px !important;
    margin-bottom: 16px;
    border-radius: 20px;
    background-color: #151C25;
}

.userProfileAmigos{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.amigosSearch{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.amigosList{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 16px;
    width: 100%;
    height: fit-content;
}

.amigosItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    height: 206px;
    width: 150px;
    border-radius: 20px;
}

.amigosFoto{
    height: 150px !important;
    width: 150px !important;
    border-radius: 50%;
    margin-bottom: 16px;
    background-color: #151C25;
}

.userHr{
    margin-top: 16px;
    border: 1px solid #151C25;
    margin-bottom: 16px;
}

.h1UserName{
    margin: 0;
    font-family: 'ABeeZee', sans-serif; 
    font-size: 40px;
    font-weight: normal;
    color: white;
}

.h1AUser{
    margin: 0;
    font-family: 'ABeeZee', sans-serif; 
    font-size: 20px;
    font-weight:normal;
    color: white;
}

.h1AboutUserDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.h1AboutUser{
    margin: 0;
    font-family: 'ABeeZee', sans-serif; 
    font-size: 18px;
    font-weight: normal; 
    width: 350px; 
    background: linear-gradient(to right, white 70%, transparent); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    overflow: hidden; 
    white-space: nowrap; 
}

.h1AboutUserVerMais{
    margin: 0;
    margin-left: 15px;
    font-family: 'ABeeZee', sans-serif; 
    font-size: 16px;
    font-weight:lighter; 
    width: 300px; 
    transition: all 0.3s ease; 
    color: rgba(255, 255, 255, 0.5);
}

.h1AboutUserVerMais:hover{
    color: rgb(255, 255, 255);
    transition: all 0.3s ease; 
    cursor:pointer;
}

.pNormalText{
    margin: 0;
    font-family: 'ABeeZee', sans-serif; 
    font-size: 15px;
    font-weight:lighter; 
    overflow: hidden; 
}

.sobreModalClass{
    background-color: #0D1117 !important;
    color: white;
    height: calc(100vh - 150px);
}

.closeButton{
    margin: auto 0;
    cursor: pointer;
}