body{
    background-color: var(--cor-fundo);
}
.viewProjectScreen{
    display: flex;
    justify-content: center;
    gap: 160px;
    margin: var(--margem-padrao);
    margin-bottom: 0;
    color: var(--cor-texto);
    font-family: var(--fonte-padrao), sans-serif;
    height: 100vh;
}
/* Projeto  */
.projectContainer{
    background-color: var(--cor-cinza-escuro);
    min-height: 1200px;
    border: 1px solid var(--cor-cinza-borda);
    overflow-y: scroll;

    width: 1200px;  /*mudar*/
}
/* Card do criador  */
.creatorCardContainer{
    cursor: pointer;
    position: sticky;
    top: 36px; 
    background-color: var(--cor-cinza-escuro);
    max-width: 363px;
    max-height: 55vh;
    border: 1px solid var(--cor-cinza-borda);
}
.creatorCardInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 12px 42px;
}
.profileImage{
    width: 160px;
    border-radius: 50%;
    padding: 8px;
}
.cardInfoIcons{
    font-size: 22px;
}
.userAbout{
    text-align: justify;
    margin-top: 14px;
}
