body{
    background-color: var(--cor-fundo);
}
.viewProjectScreen{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: var(--cor-texto);
    font-family: var(--fonte-padrao), sans-serif;
    margin: 36px 100px;
}
/* Projeto  */
.projectContainer{
    background-color: var(--cor-cinza-escuro);
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid var(--cor-cinza-borda);
    height: 1000px;
    padding: 12px 24px;
}
.projectTitle{
    font-size: 24px;
    font-weight: bold;
}
.lower{
    font-weight: normal;
}
.projectCategory{
    font-size: 12px;
}
.projectImage{
    width: 700px;
    height: 240px;
}
.projectRepContainer{
    background-color: var(--cor-fundo-projetos);
    padding: 8px;
}
/* Card do criador  */
.creatorCardContainer{
    cursor: pointer;
    position: sticky;
    top: 36px; 
    background-color: var(--cor-cinza-escuro);
    max-height: 60vh;
    border: 1px solid var(--cor-cinza-borda);
    
    overflow: auto;
}
.creatorCardInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 12px 42px;
}
.profileImage{
    width: 160px;
    border-radius: 50%;
    padding: 8px;
}
.cardInfoIcons{
    font-size: 20px;
}
.userAbout{
    text-align: justify;
    margin-top: 14px;
}
